/* 
Regole generali:
   Non ho considerato il contorno bianco come si nota dall'immagine fornita
   dato che non viene menzionato nelle specifiche e, in accordo con la prof,
   risulta antiestetico.
   Se si volesse inserire, basta rimuovere body dalla regola sottostante.
*/
body, h1, p, a, ul, li, aside, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;

    /* Per facilitare il conteggio di bordo e padding nella width e height totale */
    box-sizing: border-box;
}


body {
    font-family: monospace;
    font-size: 100%;
}

body > header {
    padding: 32px 0;
    border-bottom: 3px solid purple;
    background-image: linear-gradient(to bottom right, pink, yellow, pink, purple);
}

body > header > h1 {
    text-align: right;
    color: purple;
}

/*
Schema width:
   +-----------------------------------------------------------+
   | margin | nav | margin | aside | margin | section | margin |
   |   2%   | 15% |   5%   |  20%  |   5%   |   50%   |   3%   | = 100%
   +-----------------------------------------------------------+
*/
body > nav {
    float: left;
    width: 15%;
    margin: 8px 0 0 2%;
    border-top: 3px solid purple;
    border-bottom: 3px solid purple;
    background-image: linear-gradient(to bottom right, pink, yellow, pink, purple);
}

body > nav:hover {
    background-image: linear-gradient(to bottom right, purple, pink, yellow, pink);
}

body > nav > ul {
    padding: 20px 5% 20px 35%;
    list-style: square; /* <li> eredita */
    line-height: 2;
}

body > nav > ul > li > a {
    /* Aggiunto per fare l'effetto sul blocco e non sulla linea del link.
       Quando il link è su due o più righe, l'effetto sarebbe disturbante.
    */
    display: block;
}

body > nav > ul > li > a:hover {
    background-color: purple;
    color: white;
    font-weight: bold;
    padding: 1%;
}

body > aside {
    width: 20%;
    margin: 32px 5% 0 5%;
    display: inline-block;
}

body > aside > p {
    margin-bottom: 1.2em;
    color: purple;
    line-height: 1.2em;
}

body > section {
    float: right;
    width: 50%;
    margin: 32px 3% 32px 0;
}

body > section > p {
    text-align: left;
    color: black;
    margin-bottom: 1.2em;
}

body > footer {
    clear: right;
    background-image: linear-gradient(to top left, pink, yellow, pink, purple);
    padding: 20px 0;
    border-top: 3px solid purple;
}

body > footer > p {
    color: purple;
    text-align: center;
    font-size: 80%;
}